/* CSS for My portfolio */

* {
    box-sizing: border-box;

  }
  body {
  height: 960px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

  }

 .logo {
  background: #ffffff;
  padding: 20px;
  clear: both;
  width: 100%;
  height: 70px;
  margin: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  position: fixed;
  top: 0;
 
}
h1 {
    padding: 20px;
    background-color: #4aaaa5;
    float: left;
    margin-bottom: 0px;
    margin-top: 0px;
    height: 70px;
    text-align: center;
    color: #ffffff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 52px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.links {
  list-style: none;
  font-size: 20px;
  float: right;
  
  
}
ul {
  list-style: none;
  font-size: 10px;

}
a {
  color: grey;
  text-decoration: none;
  font-size: 18px;
  margin-right: 32px;
  text-align: center;

}
.content, .contact, .portfolio {
  background: #ffffff;
  float: left;
  width: 100%;
  height: 100%;
  background-image: url("../images/herringbone.png");
}
.content-mat {
  min-height: 50%;
  margin-bottom: -120px;
  margin-top: 100px;
  margin-left: 52px;
  margin-right: 52px;
  padding: 20px;
  background: #ffffff;
  border-color: #dddddd;
  border-width: 1px;
  border-style: solid;

}
.content-mat img {
  width: 200px;
  height: 200px;
  padding: 20px;
  float: left;
}

.content::after, .contact::after, .portfolio::after {
  content: "";
  display: block;
}
h2 {
  color: #4aaaa5;
}

p {
  float: inline-start;
  color: #777777;
  padding: 20px;
}

footer, .content::after, .contact::after, .portfolio::after {
  height: 120px;
  background: #666666;
  padding: 20px;
  width: 100%;
  height: 5px;
  margin-bottom: 0px;
  position: fixed;
  bottom: 0;
  text-align: center;
  color: #dddddd;
  font-size: 7px;
  
}

.green-footer {
  border-top: 8px solid #4aaaa5;
  width: 100%;
  bottom: 0;
  padding: 20px;
  position: fixed;


}
.contact-mat {
  min-height: 50%;
  margin-bottom: -120px;
  margin-top: 100px;
  margin-left: 52px;
  margin-right: 52px;
  padding: 25px;
  background: #ffffff;
  border-color: #dddddd;
  border-width: 1px;
  border-style: solid;
}

fieldset {
  padding: 0;
  border: 0;
}
input {
  width: 100%;
  border-width: 2px;
  border-radius: 1px;
  margin: 8px 0;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
 
}
textarea {
  width: 100%;
 
}
.input-text {
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
.btn {
  display: inline-block;
  margin: 0;
  height: 50px;
  width: 100px;
  background: #4aaaa5;
  color: #ffffff;
  font-size: 24px;

}

.portfolio-mat {
  min-height: 75%;
  margin-top: 100px;
  margin-left: 52px;
  margin-right: 52px;
  padding: 20px;
  background: #ffffff;
  border-color: #dddddd;
  border-width: 1px;
  border-style: solid;
 
}
.portfolio-mat img {
  width: 200px;
  height: 200px;

}

.wrapper{
  float: left;
  margin-right: 15px;

}
.img-msg {
  position: relative;
  bottom: 50px;
  left: 0;
  width: 200px;
  height: 35px;
  background: #4aaaa5;
  text-align: center;
  line-height: 35px;
  color: #ffffff;
  font-size: 20px;

}
